<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <br>
      <h1>Salida del Estacionamiento</h1>
      <br>
      <div class="container">
        <div class="form-group">
          <label for="codigoTicket">Código de Ticket:</label>
          <input type="text" class="form-control" id="codigoTicket" [(ngModel)]="codigoTicket">
        </div>
        <button class="btn btn-primary" (click)="salirEstacionamiento()">Salir</button>
      </div>
      <div *ngIf="alertMessage" [ngClass]="alertClass">{{ alertMessage }}</div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
