h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  margin-bottom: 30px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.btn-generar-ticket {
    /* Agrega estilos personalizados para el botón "GENERAR TICKET" aquí */
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff; /* Color primario de Bootstrap */
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-generar-ticket:hover {
    background-color: #0056b3; /* Color más oscuro cuando se hace hover */
}

  .col-md-10 {
    margin: auto;
    text-align: center; /* Para centrar horizontalmente el contenido */
  }
  
 